.popup-overlay {
    position: fixed;
    width: 100%, 100%;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it appears above other elements */
  }

  .popup-container {
    background: white;
    padding: 50px;
    border-radius: 10px;
    width: 3000px , 1000px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .close-button {
    margin-top: 10px;
    background-color: #ff5c5c;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    
  }
  .close-button:hover {
    background-color: #ff1c1c;
  }
  
 
  .submit-button,
  .create-account-button {
    background-color: #1e90ff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .submit-button:hover,
  .create-account-button:hover {
    background-color: #1c7ed6;
  }

  .feedback_text , .date_input , .time_input {
    padding: 10px;
    border:2px solid black; 
    border-radius: 5px;
    font-size: 16px;
    background-color: white; 
    color: black; 
    size: 100% ;
}